<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="showBar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <button title="Exit" mat-icon-button (click)="exit()" style="position: absolute;right: 15px;"><mat-icon>close</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list style="padding-top: 0px;">
        <a style="min-width: 250px;" mat-list-item routerLink="/artist"><mat-icon>label outline</mat-icon>&nbsp;Artists</a>
        <a style="min-width: 250px;" mat-list-item routerLink="/album"><mat-icon>label outline</mat-icon>&nbsp;Album</a>
        <a style="min-width: 250px;" mat-list-item routerLink="/track"><mat-icon>label outline</mat-icon>&nbsp;Track</a>
        <a style="min-width: 250px;" mat-list-item routerLink="/genre"><mat-icon>label outline</mat-icon>&nbsp;Genre</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="padding: 15px;">
		<router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>





